.heading {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
.cart1 {
  border: 3px solid rgba(103, 4, 16, 0.2);
  padding: 5px;
  color: blue;
  font-size: 20px;
}

.cart2 {
  border: 3px solid rgba(10, 210, 63, 0.2);
  padding: 5px;
  color: green;
  font-size: 20px;
}
.two-column-container {
  margin-top: 10px;
  margin-bottom: 15px;
}
img {
  width: 240px;
  height: 125px;
  border-radius: 15px;
}
.price-category {
  display: flex;
  justify-content: space-between;
}
.item-name {
  color: blue;
  font-family: "roboto";
  font-size: 20px;
  font-weight: 500;
}

.item-price {
  color: orange;
  font-size: 18px;
  font-weight: 500;
}

.offer-image {
  width: 100%;
  height: 160px;
}

img {
  width: 100%;
  height: 150px;
}
h4 {
  font-family: "roboto";
  font-size: 25px;
  font-weight: 600;
}
button {
  background-color: blue;
  margin-top: 8px;
  color: white;
}
