.heading {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 25px;
}
.cart1 {
  /* border: 3px solid rgba(103, 4, 16, 0.2); */
  padding: 5px;
  color: blue;
  font-size: 20px;
  margin-bottom: 20px;
}

.cart2 {
  border: 3px solid rgba(10, 210, 63, 0.2);
  padding: 10px;
  color: green;
  font-size: 20px;
}
.two-column-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
span {
  color: #0d6efd;
  font-size: 25px;
  font-family: "roboto";
  font-weight: 700;
}
* {
  font-family: "roboto";
}
.event-list {
  list-style-type: decimal;
}
.list-heading {
  font-size: 19px;
  font-weight: 500;
}
